<div class="row">
    <div class="col-md-4">
        <form >

            <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control">
            
            </div>


            <div class="form-group">
                <label for="mobile">Mobile No</label>
                <input type="number" id="" class="form-control">
         
            </div>

            <div class="form-group">
               <button type="submit" class="btn btn-outline-success"><i class="fa fa-save" style="color:darkgreen"></i>submit</button>&nbsp;
               <button type="submit" class="btn btn-outline-danger"><i class="fa fa-retweet" style="color:darkred"></i>reset</button>
            
            </div>
            
            
            </form>
            
    </div>
    <div class="col-md-8"><app-employee-list></app-employee-list></div>
</div>
